{% extends "base.html" %}

{% block content %}

<div class="text-left max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md flex flex-col">
    <div class="mb-4 text-xl font-semibold">{{task.name}}</div>

    <label class="mt-2 font-semibold">Description</label>
    <div class="ml-5">{{ task.description }}</div>
    
    <label class="mt-2 font-semibold">Completed</label>
    <div class="ml-5">{{ task.complete}}</div>

    <label class="mt-2 font-semibold">Deadline</label>
    <div class="ml-5">{{task.due_date}}</div>
</div>

<button class="bg-red-500 mx-auto text-lg text-white font-semibold mt-5 p-4 px-10 border rounded-lg transition-transform transform hover:bg-red-700">
    <a href='./{{task.id}}/delete_task'>Delete Task</a>
</button>
{% endblock %}